{% extends "base.html" %}

{% load static %}

{% block content %}

{% if img_obj %}
    <div class="alert1">
        <span class="closebtn1" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ alertmessage }}
    </div>
{% endif %}

<div class="uploadform">
    <form method="post" class="subuploadform" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="uploadformbutton" type="submit">Upload</button>
    </form>

</div>

{% endblock content %}